/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* ----End of reset css---- */

.main-container{
    background-color: #fff;
    margin: 0 auto;
}

.header-container{width: 100%; background-color: #3f51b5;}
.header{width: 1200px; margin: 0 auto;}
.row{width: 100%;display: flex; flex-direction: row; height: 125px;  margin-left: 10px; margin-right: 10px; align-items: center;}

.logo{transition: all 0.4s; width: 25%; }

.menu{width: 65%; }
.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    margin-left: 10%;
    
}
.menu li {
    float: left;
}

.menu li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background-color: #3f51b5;
}

.menu li a:hover, .dropdown:hover .dropbtn {
    color: red;
}

.menu li.dropdown {
    display: inline-block;
}

.menu .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.menu .dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.menu .dropdown-content a:hover {background-color: #292626}

.menu .dropdown:hover .dropdown-content {
    display: block;
}

.lang{width: 5%; margin-right: 5%; }

.search-container{width: 2%; margin-right: 20%;}

/* ---- Body code start from here---- */

.banner{background: url(../images/cbs-landing-page_banner.jpg); width: 100%; height: 615px;}

.support{width: 1200px; margin: 0 auto; height: 250px; }

.support-one{margin-top: 10%; padding: 2%;}

.support .row .support-one {width: 33%; }

.support-one i{font-size: 38px; display: block; text-align: center;}

.support-one h5{text-align: center; font-weight: bold;}

.support-one p{line-height: 1.6em;}

.team h2{font-weight: bold;}
.team p{width: 180%;}
.services{width: 100%; background-color: #f6f6f6; height: 600px;}
.serv-container{width: 1200px; margin: 0 auto; display: flex; flex-direction: row; height: 510px; padding-top: 50px; padding-bottom: 40px;}
.services-item{width: 55%;display: flex; flex-direction: column;margin-left: 3%;}
.service-images{width: 32%;margin-left: 32%;}
.service-type{display: flex; flex-flow: row wrap;margin: 10% -94% 0 0;}
.service-type h6{margin-top: -4%; margin-left: 7%;font-weight: bold;}
.service-type p{margin-top: 10px;margin-bottom: 10px;}
.service-name{width: 50%;}

/* testimonial css */
.testimonial{width: 1200px; margin: 0 auto; height: 650px; }

.testimonial-column{width: 100%; height: 500px; display: flex; flex-direction: column; padding: 50px 0px;}

.testimonial-column .work{width: 100%; height: 100px;clear: both;}

.work h2{padding: 10px 0px; font-weight: bold;}

.work-container{width: 100%; clear: both;}

.work-description{width: 61%; font-size: 1.2em; margin-top: 10px; float: left;}

.work-btn{float: right; margin-top: 17px;}

.work-btn a{margin-right: 10px;text-decoration: none; background-color:rgb(233, 136, 108);border-color:rgb(233, 136, 108); color:rgb(255, 255, 255); padding: 15px 37px; }

.work-btn a:hover{ background-color: rgb(162, 28,22); border-color: rgb(233, 136, 108); color: rgb(255, 255, 255);}

.testimonial-container{display: flex;flex-direction: row; margin-top: 40px;}

.testimonial-content{display: flex; flex-direction: column; width: 35%; margin-left: auto; margin-right: auto;}

.testimonial-image{width: 24%;}

.testimonial-image img{ width: 375px; height: 350px;}
.image-container{position: relative;}
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 375px;
    opacity: 0;
    transition: .5s ease-out;
    background-color: #E9876C;
  }
  .image-container:hover .overlay {
    opacity: 1;
    
  }
  .image-container:hover .text {
    top:50%;
    transition: .5s ease-out;
    
  }
.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 60%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    transition: .5s ease-out;
  }

  .testimonial-name{margin-top: 20px;}
  .testimonial-name h6{float: left;}
  .testimonial-name p{float: right; padding-right: 25px; opacity: 0.7;}
/* testimonial css end */

/* banner image two css */
.banner-two{background: url(../images/wb.gif)50% -59.7px / cover no-repeat scroll; width: 100%; height: 380px;}
/* banner image two css end */

/* slider code css */
.slider{width: 100%; background-color: #2F2F2F; height: auto;}
.slider-container{width: 1200px; margin: 0 auto;}
.font-awe{text-align: center; }
.font-awe i{font-size: 50px;margin: 40px 0px;}
.item p{margin: 40px 0px; color: white;text-align: center; opacity: 0.7;}

.my-carousel{padding-bottom: 40px;}
.carousel {
    position: relative;
    padding-bottom: 40px;
}
/* slider code css end */

/* purchase code css */
.purchase-content{width: 100%; background-color: #e9876c;height: auto;}
.content-one{width: 1200px; margin: 0 auto; padding: 80px 0px; }
.content-one a{background-color: #e9876c; border: 2px solid white; color: white; padding: 7px 35px; text-decoration: none;}
.content-one a:hover{background: #EFEFF0; color: #2F3B6B;}
.content-one span{text-align: center; margin-left: 25%; color: white; font-size: 1.2em;}
/* purchase code css end */

/* accordion code css */
.accordion-one{width: 100%; background-color: #F6F6F6; height: 400px;}
.accordion-container{width: 1200px; margin: 0 auto; display: flex; flex-direction: row;}
.accordion-service{width: 50%; margin: 50px 0px; padding: 20px 0px;}
.accordion-service h5{font-weight: bold; line-height: 1.6em;}
.accordion-service p{line-height: 1.2em;}
.accordion-service ul li{display: inline; margin-left: 10px; line-height: 1.2em;}
.accordion-service span{display: block;}
.accordion-content{width: 50%; margin: 50px 0px; padding: 20px 0px;}
/* accordion code css end */

/* company status css */
.company-status{width: 1200px; margin: 0 auto; align-content: center; padding-top: 40px;padding-bottom: 40px;}
.status-content h2{ width: 120px; margin-left: auto; margin-right: auto; top: 50%;font-weight: bold;}
.status-content p{line-height: 1.6em; text-align: center;margin-left: 25%;margin-right: 25%;}
/* company status css end */

/* compare image code*/
.compare-image img{display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;}
/* compare image code end */

/* -------Footer code is from here------------- */

.footer{width: 100%; height: 400px;}
.footer-container{width: 100%; height: 300px; background-color: #E9876C;}
.footer-contact{width: 1200px;margin: 0 auto; height: 300px; display: flex; flex-direction: row;align-items: center;}
.footer-contact .contact{width: 33%; margin-left: 10%;}
.footer-contact .contact i{font-size: 38px;display: block;text-align: center;margin-bottom: 20px;}
.footer-contact .contact p{text-align: center;margin-top: 10px;}
.footer-social-cont{width: 100%; height: 100px; background-color: #000000;}

.footer-social{width: 1200px;margin: 0 auto; height: 100px; display: flex; flex-direction: row;align-items: center;}
.copy-right{width: 50%;margin-left: 3%;margin-right: 27%;}
.copy-right p{color: white;}
.copy-right a{color: red; text-decoration: none;}
.copy-right a:hover{color: white;}
.social{width: 50%;float: right;}
.social a{margin-left: 5px; text-decoration: none; float: right; padding: 10px;}
.social i{color: white;font-size: 26px;}